<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>

    <!-- MENU BUTTON -->
    <div class="menu-btn" onclick="toggleMenu()">☰</div>

    <div class="all">

        <!-- SIDE BAR -->
        <div class="sidebar" id="sidebar">
            <div class="designation">
                <h3>Hello</h3>
                <h2>
                    <%= user.username %>
                </h2>
            </div>

            <div class="sidebar-items">
                <a onclick="showSection('dashboard')">Dashboard</a>
                <a onclick="showSection('profile')">Profile</a>
                <a onclick="showSection('all-branch')">All Branch</a>
                <a onclick="showSection('subscription')">Subscription</a>
                <a onclick="showSection('star')">Star</a>
                <a href="/support/<%= user.username %>">Support</a>
            </div>

            <button class="logout"><a href="/logout/<%= user.username %>">Log Out</a></button>

        </div>

        <!-- MAIN CONTENT -->
        <div class="main">

            <div id="dashboard" class="section active">
                <div class="card-container">

                    <!-- 1 -->
                    <a href="/cse"><div class="card">
                        <div class="card-logo">
                            <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                            <small>|</small>
                            <p>EDUSHELF</p>
                        </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>CSE</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>

                    <!-- 2 -->
                    <a href="/aiml"><div class="card">
                        <div class="card-logo">
                            <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                            <small>|</small>
                            <p>EDUSHELF</p>
                        </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>CSE AIML</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>

                    <!-- 3 -->
                    <a href="/it"><div class="card">
                        <div class="card-logo">
                            <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                            <small>|</small>
                            <p>EDUSHELF</p>
                        </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>CSE IT</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>

                    <!-- 4 -->
                    <a href="/cyber-security"><div class="card">
                        <div class="card-logo">
                            <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                            <small>|</small>
                            <p>EDUSHELF</p>
                        </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>CYBER SECURITY</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>

                    <!-- 5 -->
                    <a href="/datascience"><div class="card">
                        <div class="card-logo">
                            <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                            <small>|</small>
                            <p>EDUSHELF</p>
                        </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>DATA SCIENCE</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>

                    <!-- 6 -->
                    <a href="/civil">
                        <div class="card">
                            <div class="card-logo">
                                <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                                <small>|</small>
                                <p>EDUSHELF</p>
                            </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>CIVIL</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>

                    <!-- 7 -->
                    <a href="/ece">
                        <div class="card">
                            <div class="card-logo">
                                <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                            <small>|</small>
                            <p>EDUSHELF</p>
                        </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>ECE</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>

                    <!-- 8 -->
                    <a href="/ee">
                        <div class="card">
                            <div class="card-logo">
                                <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                                <small>|</small>
                                <p>EDUSHELF</p>
                            </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>EE</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>

                    <!-- 9 -->
                    <a href="/mechanical">
                        <div class="card">
                            <div class="card-logo">
                                <img src="/images/logo_bgremove.png" class="card-logo" alt="ED-Card-logo">
                                <small>|</small>
                                <p>EDUSHELF</p>
                            </div>

                        <div class="top-section">
                        </div>

                        <div class="bottom-section">
                            <h2>MECHANICAL</h2>
                            <div class="row">
                                <div class="item">
                                    <span class="big-text">Notes</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">Assignments</span>
                                </div>

                                <div class="item">
                                    <span class="big-text">PYQ's</span>
                                </div>
                            </div>
                        </div>
                    </div></a>                    

                </div>
            </div>


            <!-- PROFILE SECTION -->
            <div id="profile" class="section">
                <h1>Profile Page</h1>
            </div>

            <div id="all-branch" class="section">
                <h1>All Branch Page</h1>
            </div>

            <div id="subscription" class="section">
                <h1>Subscription Page</h1>
            </div>

            <div id="star" class="section">
                <h1>Star Page</h1>
            </div>
        </div>
    </div>

    <!-- NAVBAR -->
    <div class="nav">
        <div class="nav_ins">

            <div class="name">
                <img src="/images/logo_bgremove.png" class="logo" alt="EDlogo">

                <div class="small">
                    <p class="edushelf">EDUSHELF</p>
                    <small>Click to know about us</small>
                </div>
            </div>

            <div class="nav_items">

                <div class="search_box">
                    <img src="/images/search1.png" alt="Search Icon" class="search_icon">

                    <input type="search" placeholder="Search" class="search">
                </div>

                <div class="items">
                    <a href="/allbranch/<%= user.username %>">All Branch</a>
                    <a href="/subscription/<%= user.username %>">Subscription</a>
                    <a href="/star/<%= user.username %>">Star</a>
                </div>

            </div>

            <div class="help">
                <a href="/support/<%= user.username %>">Edu-Support</a>
            </div>

        </div>
    </div>

    <!-- PROFILE IMAGE -->
    <div class="image">
        <a href="/profile/<%= user.username %>"><img src="/images/profile_logo.png" alt="User Icon"
                class="user_icon"></a>
    </div>



    <script src="/js/dashboard.js"></script>

</body>

</html>