<!DOCTYPE html>
<html>
<head>
    <title><%= file %></title>
</head>
<body>
    <iframe
        src="/resources/<%= branch %>/sem<%= sem %>/<%= subject %>/<%= type %>/<%= file %>"
        width="100%"
        height="1000px">
    </iframe>
</body>
</html>